body {
	font-family: Noto Sans, Arial, Helvetica, serif;
	font-size: 150%;
	background: #f2eedd url("../img/rice_paper_v3.png") repeat round;
    /*background: #f2eedd url("../img/Background-01-1920x1080.jpg") no-repeat center fixed;
    background-size: cover;*/
}

html {
	font-size: 62.5%; /* Corrects text resizing oddly in IE6/7 when body font-size is set using em units http://clagnut.com/blog/348/#c790 */
	overflow-y: scroll; /* Keeps page centered in all browsers regardless of content height */
	-webkit-text-size-adjust: 100%; /* Prevents iOS text size adjust after orientation change, without disabling user zoom */
	-ms-text-size-adjust:     100%; /* Control text size in safari for ios without disabling userzoom */

}

.wrap {
		/*max-width: 925px;*/
        max-width: 1000px;
        margin: 50px auto;
		padding: 30px 40px;
		text-align: center;
		box-shadow: 0 4px 25px -4px #656565;
		background: #F1F1F1;
}

article {
		text-align: left;
		padding: 0px 40px 40px 40px;
		line-height: 150%;
}

.bolder {
	font-weight: bolder;
}
.disclaimer {
    border: 1px solid red;
    border-radius: 8px;
    padding: 4px;
    font-size: 1.0em;
    color: red;
    font-weight: bolder;
}

/* ===========================
   ===== Main Navigation =====
   =========================== */
.mainHeader nav { /*nav bar */
	/*background: #666;*/
    background: #12214c; /* Add a black background color to the top navigation */
	font-size: 1.143em;
    font-weight: 100;
	height: 40px;
	line-height: 30px;
	margin: 0px auto 30px auto;
	text-align: center;
	border-radius: 0px 0px 5px 5px;
	-moz-border-radius: 0px 0px 5px 5px;
	-webkit-border-radius: 0px 0px 5px 5px;
}
.mainHeader nav ul {
	list-style: none;
	margin: 0px 0px auto auto;
}
.mainHeader nav ul li {
	float: left;
	display: inline;
}
.mainHeader nav a:link, .mainHeader nav a:visited { /* Link text colour */
	color: #81d7e6;
	display: inline-block;
	height: 30px;
	padding: 5px 23px;
	text-decoration: none;
}
.mainHeader nav a:hover, .mainHeader nav a:active,
.mainHeader nav .active a:link, .mainHeader nav .active a:visited {
	/*background: #CF5C3F;*/
	/*color: #fff;*/
	/*background: #98D323;*/
    background: #81d7e6;
	/*color: #000;*/
    color:#000; /* Text colour on hover */
	text-shadow: none !important;
}
.mainHeader nav li a {
	/*border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;*/
}
.mainHeader img {
	width: 100%;
	height: auto;
	margin: 0 0 0 0;
}

/*
 ** DEFAULT LINKS
*/
 /* unvisited link */
a:link {
	color: #753B00;

}
/* visited link */
a:visited {
	color: #753B00;
    font-weight: bolder;
}
/* mouse over link */
a:hover {
	color: #753B00;
    /*background-color: cornsilk;*/

}
/* selected link */
a:active {
	color: #753B00;

}

/*
 ** MAIN NAVIGATION
*/
 /* unvisited link */
. menu a:link {
    /*color: #443d96;*/
	color: #BCD74A;
}
/* visited link */
. menu a:visited {
    /*color: #443d96;*/
	color: #BCD74A;
}
/* mouse over link */
.menu a:hover {
    /*color: #b40f7b;*/
	color: #FFD136;
}
/* selected link */
.menu a:active {
    /*color: #443d96;*/
	color: #BCD74A;
}

#rcorners3 {
	border-radius: 15px 15px 0px 0px;
	-moz-border-radius: 15px 15px 0px 0px;
	-webkit-border-radius: 15px 15px 0px 0px;
	/*background: url(../img/house-and-garden-header-1000x245px.jpg);*/
    /*background: url(../img/header02-1000x245.jpg);*/
	/*background: url(../img/communications-and-technology-header-3004.jpg);*/
	background: url(../img/M1EMF-github-communications-and-technology-header.jpg);
	background-position: left top;
	background-repeat: repeat;
	padding: 0px;
	/*width: auto;*/
	width: 100%;
	height: 245px;
}

.container {
    position: relative;
    text-align: center;
    color: #036503;
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.container h1 {
	font-size: 36px;
	padding-top: 242px;
	color: #FFF;
	/*text-shadow: 2px 2px 4px black;*/
	/*text-shadow: -1px 0 #000, 0 1px #000, 1px 0 #000, 0 -1px #000;*/
	text-shadow: 1px 1px 2px #000, 0 0 25px #000, 0 0 5px #000;
}

#dTableWrap {
	margin: auto;
	width: 100%;
}
.rTable {
	display: table;
	margin: auto;
	width: 100%;
}
.rTableRow {
	display: table-row;
}
.rTableHeading {
	display: table-header-group;
	background-color: #ddd;
}
.rTableCell, .rTableHead {
	display: table-cell;
	padding: 3px 10px;
	border: 1px solid #999999;
}
.rTableHead {
	text-align: center;
    color: #000;
    background-color: #E0FFE0;
}
.rTableHeading {
	display: table-header-group;
	background-color: #ddd;
	font-weight: bold;
}
.rTableFoot {
	display: table-footer-group;
	font-weight: bold;
	background-color: #ddd;
}
.rTableBody {
	display: table-row-group;
}
